<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>-->
  <configSections>
    <sectionGroup name="xfnlnet">
      <section name="default" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="SqlConnection" connectionString="Data Source=VM-CRMSQLPRE01;Initial Catalog=ODS_PreProd;Persist Security Info=True;User ID=app_integration;Password=app_integration" providerName="System.Data.SqlClient"/>
    <add name="DataWarehouseConnection" connectionString="Data Source=vm-dwhsqlpre01;Initial Catalog=data_warehouse;Persist Security Info=True;User ID=mymet_synch_user;Password=mymet_synch_user1" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="BC_USER_NAME" value="SYSTEM" />
    <add key="BC_PASSWORD" value="SYSTEM" />
    <add key="BC_COMPANY" value="OPSPDD"/>
    <add key="BC_COMPANY_PASSWORD" value="" />
    <add key="SmtpServer" value="172.20.3.211"/>
    <add key="EmailAddress" value="softwaredevelopment@metricon.com.au"/>
  </appSettings>
  <xfnlnet>
    <default>
      <add key="host" value="PM-BCFTMEL01" />
      <add key="port" value="2341" />
    </default>
  </xfnlnet>
</configuration>